@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");

$text-primary: "Orbitron", sans-serif;

$color-black: #000000;
$color-white: #fff;
$color-grey: #313131;
$color-orange: #f69906;
$color-lightgrey: #9F9F9F;

$desktop-breakpoint: 1024px;
